body {
  background-color: coral;
}

.flex-container {
  background-color: rgb(220, 90, 43);
  padding: 25px;
}

.post {
  background-color: rgb(252, 148, 110);
  padding: 10px;
  border-radius: 7px;
  margin-top: 25px;
}
